.full-width .bk-Column {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.bk-Column::part(center-slider) {
    margin-left: auto;
    margin-right: auto;
}

.bk-Figure {
    margin-bottom: 1.5rem;
}